services:

## cAdvisor
  cadvisor:
    image: gcr.io/cadvisor/cadvisor:v0.49.1
    container_name: cadvisor-prod-1
#    devices:
#      - /dev/kmsg
#    ports:
#      - 8080:8080
    privileged: true
    volumes:
      - /:/rootfs:ro
      - /var/run:/var/run:ro
      - /sys:/sys:ro
      - /var/lib/docker/:/var/lib/docker:ro
      - /dev/disk/:/dev/disk:ro
    labels:
      - traefik.enable=true
      - traefik.http.routers.cadvisor-prod-1.entrypoints=https
      - traefik.http.routers.cadvisor-prod-1.rule=Host(`cadvr.example.com`)
      - traefik.http.routers.cadvisor-prod-1.tls=true
      - traefik.http.routers.cadvisor-prod-1.tls.certresolver=cloudflare
    networks:
      - proxy
      - backend
    restart: unless-stopped

networks:
  proxy:
    external: true
  backend:
    external: true